.custom-scrollbar {
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: #bcbcbc #f5f5f5;
	height: calc(100vh - 18.5rem);
	overflow-x: hidden;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 6px;
	display: none;
}

.custom-scrollbar:hover::-webkit-scrollbar {
	display: block;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background-color: #f5f5f5;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: #b4b4b4;
	border-radius: 4px;
}

.MenuSide {
	box-shadow: none;
}

.container {
	padding: 1rem;
	background: white;
	height: 100vh;
}
.header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: '4em';
	position: 'sticky';
	top: 0;
	background: '#FFF';
	z-index: 999;
	margin-bottom: '1.6rem';
}
.footer {
	border-top: 1px solid rgba(0, 0, 0, 0.12);
	width: 100%;
	padding: 1rem 0;

}
