.container {
	display: flex;
	align-items: center;
	overflow: auto;
	justify-content: center;
	height: 100%;
	background: linear-gradient(170.8deg, #e8f3ef 6.97%, #eff7e0 123.36%);
}
.layout {
	max-width: 580px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #ffffff;
	margin: 4.8rem 0;
	border-radius: 3.2rem;
}
.innerContainer {
	padding: 4.8rem 7rem;
	margin: 0px auto;
}
.backToLogin {
	font-size: 2.24rem;
	text-align: center;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 3.84rem;
	margin-bottom: 4.8rem;
}
.backToLoginBtn {
	color: #16885f;
	display: flex;
	align-items: center;
	background: none;
	justify-content: center;
}
.footer {
	display: flex;
	width: 100%;
	margin: 2rem 0rem 1.6rem 0rem;
	justify-content: center;
}
.footerText {
	margin-top: 1.6rem;
}
.illustrationImg {
	height: 150px;
	width: 150px;
}

.confirmationText {
	margin-top: 1.6rem;
}

.illustrationImgGrid {
	margin: 4rem 0 1.6rem 0;
}
