.intercom_draggable_container {
    width: 48px;
    height: 48px;
    z-index: 1200;
    user-select: none;
}

.intercom_button_container {
    width: 48px;
    height: 48px;
    position: relative;
    user-select: none;
}

.intercom-btn {
    width: 48px;
    height: 48px;
    background-color: rgb(22,136,95);
    border-radius: 100px;
    outline: none;
    border: 0px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.1s;
    position: relative;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.06), 0 2px 32px 0 rgba(0, 0, 0, 0.16);;
}

.intercom_show_btn {
    display: flex;
}

.intercom_hide_btn {
    display: none;
}

.intercom_icon {
    justify-content: center;
    align-items: center;
}

.intercom_button_wrapper {
    position: absolute;
    background-color: transparent;
    z-index: 1200;
    width: 48px;
    height: 48px;
    cursor: grabbing;
}

.intercom-notification {
    width: 8px;
    height: 8px;
    background-color: #FF4C4C;
    border-radius: 100px;
    position: absolute;
    top: 2px;
    right: 2px;
}

.intercom-btn-container {
	position: absolute !important;
	bottom: 30px;
	right: 30px;
	z-index: 1200;
}

.intercom-btn:hover {
	scale: 1.1;
}

.intercom-btn:active {
	scale: 0.9;
}

.rotate-left-to-right {
	animation: rotate-ltr 0.16s;
}

@keyframes rotate-ltr {
	from {
		scale: 0;
		transform: rotate(-90deg);
	}
	to {
		scale: 1;
		transform: rotate(0deg);
	}
}

.rotate-right-to-left {
	animation: rotate-rtl 0.16s;
}

@keyframes rotate-rtl {
	from {
		scale: 0;
		transform: rotate(90deg);
	}
	to {
		scale: 1;
		transform: rotate(0deg);
	}
}