.red-dot {
	height: 0.5em;
	width: 0.5em;
	border-radius: 50%;
	display: inline-block;
	margin-right: 0.5em;
	margin-bottom: 0.1em;
}
.bottom-button-container {
	position: sticky;
	bottom: 0;
	background-color: #ffffff;
	padding: 0.25em 1em;
	padding-bottom: 1em;
}