  .no-data {
    background: white;
    min-height: 15rem;
    z-index: 1000;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.07);
  }
  
  .dropdown-container .MuiListItem-root {
    padding: 8px 16px; 
    cursor: pointer;
    transition: background-color 0.2s; 
  }
.dropdown-container {
	position: absolute;
	top: 100%;
	/* left: 6%; */
	border-radius: 12px;
	width: 100%;
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	max-height: 260px;
	overflow-y: auto;
	z-index: 1000;
}

.no-data {
	min-height: 15rem;
}

.dropdown-container .MuiListItem-root {
	padding: 8px 16px;
	cursor: pointer;
	transition: background-color 0.2s;
}

.dropdown-container .MuiListItem-root:hover {
	background-color: #f0f0f0;
}

.dropdown-container .type-label {
	margin-left: 8px;
	font-weight: 700;
	background: rgba(0, 0, 0, 0.1);
	padding: 4px;
	border-radius: 4px;
}

.ai-chip {
	display: flex;
	align-items: center;
	padding: 4px 8px;
	border: 1px solid #92b72b;
	border-radius: 0.5rem;
	gap: 0.5rem;
	background-color: rgba(229, 237, 207, 1);
	margin-left: 0.8rem;
	margin-right: 6px;
	min-width: fit-content;
}

.default-chip {
	margin-left: 0.8rem;
	margin-right: 0.4rem;
	color: #525252;
	background: rgba(0, 0, 0, 0.1);
	padding: 0.5rem 1rem;
	border-radius: 4px;
	min-width: fit-content;
}
