.icon {
  transform: scale(1.1);
}

.input_box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.toggle_container {
  display: flex;
  border: 1.4px solid rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}

.discount_box {
  padding: 16px 24px;
  border-radius: 12px;
  margin: 8px 0px;
  gap: 1rem;
  background-color: rgba(247, 248, 250, 1);
}

.toggle_box {
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}