/*** Product card css ****/
.variant_value {
	height: 2rem;
	width: fit-content;
	min-width: 3.4rem;
	font-size: 1.2rem;
	text-align: center;
	margin-left: 0.6rem;
	border-radius: 2rem;
	padding: 2px 5px;
	font-weight: 700;
	max-width: 8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
}

.skeleton_container_style {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.selected_variant_value {
	height: 2rem;
	width: fit-content;
	min-width: 3.4rem;
	font-size: 1.2rem;
	margin-left: 0.6rem;
	text-align: center;
	border-radius: 2rem;
	padding: 2px 5px;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.6);
	max-width: 8rem;
}

.card_loading {
	background-color: rgba(0, 0, 0, 0.3);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.product_container {
	position: relative;
	height: 100%;
	border-radius: 1.3rem;
}

.storefront_product_container {
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.12);
	overflow: hidden;
}

.product_container_stack {
	position: relative;
	height: 100%;
	border-radius: 1.3rem;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.12);
	overflow: hidden;
	width: calc(100% - 10px) !important;
	margin-left: 10px;
}

.review_checkbox {
	position: absolute !important;
	right: 12px;
	top: 12px;
	z-index: 1;
	cursor: pointer;
}

.cart_button {
	box-shadow: none;
	width: 100%;
	height: 40px;
	box-shadow: none;
}

.product_detail {
	padding: 0.5rem 1rem;
	cursor: pointer;
	height: 2rem;
	margin: 0.3rem 0rem;
}

.hinge_product_detail {
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow: hidden;
	margin-top: 5px;
}

.hinge_attr_value {
	display: inline-flex;
	cursor: pointer;
	background-color: #f7f8fa;
	padding: 0.5rem 0.6rem;
	margin-right: 0.4rem;
	border-radius: 0.4rem;
	overflow: auto;
}

.hinge_custom_text {
	max-width: 13.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ellipsis {
	margin-top: 0.2rem;
}

.product_attribute_detail {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	padding: 0.5rem 0rem;
	margin: 0.3rem 1rem;
	cursor: pointer;
	height: 2.5rem;
	white-space: nowrap;
	overflow: hidden;
}

.product_attribute_detail_nth {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: nowrap;
	padding: 0rem;
	margin: 0rem 1rem;
	cursor: pointer;
	height: 2rem;
	white-space: nowrap;
	overflow: hidden;
}

.detail_container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

/* .prod_attributes {
 color: rgba(0, 0, 0, 0.6);
} */

.product_image {
	border-radius: 1.2rem 1.2rem 0 0;
	height: 25rem;
	width: 100%;
	object-fit: contain;
	position: relative;
}

/* .update_icon {
	padding-right: 0.5rem;
    color: #16885f;
} */

.image_container {
	cursor: pointer;
	position: relative;
	margin-bottom: 0.8rem;
}

.list_circle {
	margin-top: -0.1rem;
}

.add_to_button {
	padding: 1rem;
	box-shadow: none;
}

.variant_badge {
	width: fit-content;
	display: flex;
	justify-content: flex-end;
}

.product_name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 80%;
}

.remove_icon {
	border: none;
	width: 20px;
	height: 20px;
	padding: 7px;
	border-radius: 50px;
	cursor: pointer;
	margin-right: 6px;
}

.date_chip {
	width: 160px;
	height: 28px;
	font-size: 10px;
	border-radius: 40px;
	position: absolute;
	top: 3px;
	z-index: 2;
	left: 1px;
}

.add_icon {
	border: none;
	width: 2rem;
	height: 2rem;
	padding: 0.7rem;
	border-radius: 5rem;
	cursor: pointer;
	margin-left: 0.6rem;
}

.show_count {
	outline: none;
	font-size: 1.6rem;
	font-weight: 700;
	height: 3.4rem;
	border-radius: 1rem;
	width: 100%;
	cursor: pointer;
	text-align: center;
}

.text_overflow {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-height: 2rem;
	display: flex;
	align-items: flex-end;
	gap: 4px;
}

.overlay_container_1 {
	width: 50px;
	height: 91%;
	position: absolute;
	border: 1px solid #d1d6dd;
	border-radius: 1.3rem;
	left: 20px;
	top: 30px;
	background: #eef1f7;
}

.overlay_container_2 {
	width: 50px;
	height: 93%;
	position: absolute;
	left: 25px;
	top: 25px;
	background: #f7f8f8;
	border: 1px solid #d1d6dd;
	border-radius: 1.3rem;
}
