 .ql-toolbar.ql-snow {
     border-top-left-radius: 6px;
     border-top-right-radius: 6px;
 }

 .ag-popup-child:not(.ag-tooltip-custom) {
     border-radius: 6px;
 }

 .ql-container.ql-snow {
     border-bottom-left-radius: 6px;
     border-bottom-right-radius: 6px;
 }


 .editor-success {
     border: 1.5px solid rgb(10, 122, 35);
 }

 .editor-error {
     border: 1.5px solid #e04040;
 }

 .editable-table-container {
     padding: 40px;
     border: 1px #9aa0aa solid;
     border-radius: 8px;
     background: #ffffff;
     width: 50%;
     margin: auto;
 }

 .editable-table-header {
     display: flex;
     justify-content: flex-start;
     align-items: center;
 }


 .customTable {
     border: 1px solid lightgray;
     border-radius: 8px;
     border-collapse: separate;
     font-size: 14px;
     border-spacing: 0;
     width: 100%;
     height: 100%;
     margin-top: 15px;
 }

 .customTable th,
 .customTable td {
     text-align: left;
     vertical-align: middle;
     padding: 20px;
 }


 .customTable th:first-child {
     border-top-left-radius: 8px;
 }

 .customTable th:last-child {
     border-top-right-radius: 8px
 }

 .customTable th {
     font-weight: 700;
     background-color: #F7F8FA;
     color: rgba(0, 0, 0, 0.60);
 }

 .customTable td {
     border-top: 1px solid lightgray;
 }

 .css-4zhht0-MuiFormHelperText-root.Mui-error {
     font-size: 14px;
 }