.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	overflow: auto;
	/* background: linear-gradient(170.8deg, #e8f3ef 6.97%, #eff7e0 123.36%); */
} 
.layout {
	max-width: 580px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #ffffff;
	margin: 1.6rem 0;
	padding: 4.8rem 1.6rem;
	border-radius: 3.2rem;
}
.innerContainer {
	padding: 1.6rem 6.4rem;
	width: 100%;
}
.footer {
	margin-top: 1.6rem;
	width: 100%;
	text-align: center;
}

.illustrationImg {
	height: 140px;
	width: 140px;
}
.illustrationImgGrid {
	width: 100%;
	margin: 4rem 0 2.4rem 0;
}
.resetHeadingStorefront{
	font-weight: 700;
	font-size: 24px;
}
.resetHeading{
	font-weight: 700;
	font-size: 16px;
}

.logoMain {
	height: 34px;
	width: auto;
}
.logoMainStorefront {
	height: 47px;
	width: auto;
}

.inputsGrid {
	margin-top: 2.4rem;
}
.inputsGridStorefront {
	margin-top: 80px;
}

.resetPasswordGrid {
	margin-top: 5.6rem;
}
.resetPasswordGridStorefront {
	margin-top: 5.6rem;
}

.resetPasswordTextGrid {
	width: 100%;
	margin: 0.8rem;
}
.resetPasswordTextGridStorefront {
	width: 100%;
	/* margin: 0.8rem; */
	margin-top: 40px;
}

.confirmPasswordGrid {
	width: 100%;
	padding-top: 3.2rem;
}

.confirmPasswordGridStorefront {
	width: 100%;
	padding-top: 24px;
}

@media (max-width: 768px) {
	.innerContainer {
		padding: 1.6rem 3.2rem;
	}
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
	background: white;
	margin: 4px;
	padding: 13px;
	z-index: 1;
}
