.disconnect_button {
	background-color: #d74c10;
}

.alert_style {
	padding: 10px 16px;
	width: 100%;
	display: flex;
	color: #f0f6ff;
	border-radius: 12px;
}

.icon_style {
	margin-top: 2px;
	margin-right: -0.5;
}
.image_box {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  background: #EFB79F;
}

.drawer{
  width:100%;
  height:100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.cross_icon {
  cursor: pointer;
  color: #4F5655;
  width: 24px;
  height: 24px;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  border-bottom: 1px solid #EEF1F7;
}
.footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap:12px;
  padding: 16px 20px;
  border-top: 1px solid #EEF1F7;

}