.ag-root-wrapper {
	border: 2px solid white !important;
	border-radius: 12px;
	font-family: 'Satoshi';
	box-shadow: -10px 0px 14px 8px rgba(199, 197, 197, 0.08);
}

.ag-ltr .ag-cell-focus:not(.ag-cell-range-selected):focus-within,
.ag-ltr .ag-context-menu-open .ag-cell-focus:not(.ag-cell-range-selected),
.ag-ltr .ag-full-width-row.ag-row-focus:focus .ag-cell-wrapper.ag-row-group,
.ag-ltr .ag-cell-range-single-cell,
.ag-ltr .ag-cell-range-single-cell.ag-cell-range-handle,
.ag-rtl .ag-cell-focus:not(.ag-cell-range-selected):focus-within,
.ag-rtl .ag-context-menu-open .ag-cell-focus:not(.ag-cell-range-selected),
.ag-rtl .ag-full-width-row.ag-row-focus:focus .ag-cell-wrapper.ag-row-group,
.ag-rtl .ag-cell-range-single-cell,
.ag-rtl .ag-cell-range-single-cell.ag-cell-range-handle {
	border-radius: 10px;
	border-color: grey;
	background-color: white;
}

/* column style */
.custom-header-color-odd {
	background-color: #f2f6e7;
	border-color: rgb(255, 255, 255);
	border-style: solid;
	border-width: 0px 2px 0px 2px;
}

.custom-header-color-even {
	background-color: rgb(234, 243, 239);
}

.custom-header-color-even:hover {
	background-color: #d0e7df !important;
}

.custom-header-color-odd:hover {
	background-color: #e5edcf !important;
} 

/* row style */
.ag-row-odd {
	background-color: white;
}