.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	overflow: auto;
	/* background: linear-gradient(170.8deg, #e8f3ef 6.97%, #eff7e0 123.36%); */
}
.layout {
	max-width: 580px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #ffffff;
	margin: 2.9rem 0;
	border-radius: 3.2rem;
	/* box-sizing: border-box; */
}
.illustration {
	margin: 1.6rem 0;
}
.innerContainer {
	padding: 6.4rem 8rem 4.8rem 8rem;
	margin: 0px auto;
}

.storefront_inner_container{
	padding: 6.4rem 8rem 4.8rem 8rem;
	margin: 0px auto;
}
.backToLogin {
	font-size: 2.28rem;
	text-align: center;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 2.9rem;
	margin-bottom: 3.8rem;
}
.backToLoginBtn {
	color: #16885f;
	display: flex;
	align-items: center;
	background: none;
	justify-content: center;
}
.footer {
	display: flex;
	width: 100%;
	margin-top: 1.6rem;
	margin-bottom: 2.4rem;
	justify-content: center;
}

.companyLogo {
	margin-bottom: 1.6rem;
}
.companyLogoMain {
	height: 34px;
	width: auto;
}

.companyLogoMainStorefront {
	width: auto;
	height: 47px;
}
.emailGrid {
	width: 100%;
	margin-top: 3.2rem;
}

.emailError {
	padding-left: '1.6rem';
}

.submitBtn {
	margin-top: 1.6rem;
}

.companyDesc {
	margin-top: 0.8rem;
}

.footerText {
	margin-top: 1.6rem;
}

.illustrationImg {
	height: 150px;
	width: 150px;
}

@media (max-width: 768px) {
	.innerContainer {
		padding: 2.4rem 4.8rem;
	}
	.layout {
		margin: 2.4rem;
	}

	.footerText {
		margin-top: 3.2rem;
	}
}
@media (max-width: 500px) {
	.storefront_inner_container {
		padding: 0;
	}
}
@media (max-width: 768px) and (min-width: 500px) {
	.storefront_inner_container {
		padding: 2.4rem 4.8rem;
	}
}

@media (max-width: 900px) and (min-width: 769px) {
    .storefront_inner_container {
        padding: 4.8rem;
    }
}

@media (max-width: 900px) {
	.innerContainer {
		padding: 4.8rem;
	}
	.layout {
		margin: 2.4rem;
	}

	.illustrationImg {
		height: 130px;
		width: 130px;
	}

	.footerText {
		margin-top: 3.2rem;
	}
}
@media (max-width: 1300px) and (min-width: 900px) {
    .storefront_inner_container {
        padding: 4.8rem 8rem;
    }
}
@media (max-width: 1300px) {
	.innerContainer {
		padding: 4.8rem 8rem;
	}
	.layout {
		margin: 2.4rem;
	}

	.companyDesc {
		margin-top: 0rem;
	}

	.illustrationImg {
		height: 150px;
		width: 150px;
	}

	.footerText {
		margin-top: 0.8rem;
	}

	.submitBtn {
		margin-top: 0.8rem;
	}
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
	background: white;
	margin: 4px;
	padding: 13px;
	z-index: 0;
}
