/*---------------------------- Buyer Section Start -----------------------------------*/

.view-buyer-tab {
	margin-left: 40px;
	width: calc(100% - 40px) !important;
}

@media screen and (max-width: 768px) {
	.view-buyer-tab {
		margin-left: 0px;
	}
}

.view-buyer-tab-line {
	/* borderBottom={2} borderColor='#0000001F' mt={-2.2} ml={5} mr={5} */
	border-bottom: 2px solid #0000001f;
	margin-right: 2em;
}

@media screen and (max-width: 768px) {
	.view-buyer-tab-line {
		margin-left: 0px;
		margin-right: 0px;
	}
}

@media (max-width: 820px) {
	.tab_item_container {
		font-size: 2px;
	}
}

.view-buyer-right-panel-tab-container {
	padding-left: 32px;
}

@media screen and (max-width: 768px) {
	.view-buyer-right-panel-tab-container {
		padding-left: 0px;
	}
}

.view-buyer-right-panel-contact-card {
	margin-left: 16px;
	background: #fff;
	border-radius: 16px;
	padding: 16px;
}

@media screen and (max-width: 768px) {
	.view-buyer-right-panel-contact-card {
		margin-left: 0px;
	}
}

.view-buyer-contact-container {
	margin-left: 24px;
	padding-top: 8px;
	width: calc(100% - 24px) !important;
}

@media screen and (max-width: 768px) {
	.view-buyer-contact-container {
		margin-left: 24px;
	}
}

.view-buyer-perferences-container {
	margin-top: 24px;
	align-items: center;
	justify-content: start;
}

@media screen and (max-width: 768px) {
	.view-buyer-perferences-container {
		margin-top: 0px;
	}

	.view-buyer-perferences-right {
		padding-top: 16px;
	}
}

.add-details-card-container {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 2.5rem;
}
.storefront_add-details-card-container {
	display: grid;
	/* grid-template-columns: repeat(3, minmax(0, 1fr)); */
	gap: 2rem;
}

.view-details-card-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.6rem;
}
.storefront-drawer-view-details-card-container {
	display: grid;
	gap: 1.6rem;
}

.add-details-card {
	border-radius: 8px;
	background: #f7f8fa;
	cursor: pointer;
}

.buyer-copy-form-drawer-container {
	height: 100vh;
	overflow: hidden;
	padding-top: 0;
	background: white;
}

.buyer-copy-form-drawer-content {
	height: 100%;
	overflow: scroll;
	background-color: white;
}

.buyer-copy-form-drawer-content::-webkit-scrollbar {
	display: none;
}

.view-details-card {
	border-radius: 8px;
	width: 100%;
	border: 1px solid var(--divider, rgba(0, 0, 0, 0.12));
}

.tax-section-title {
	font-size: 1.8rem;
	padding-top: 1rem;
	padding-left: 1.8rem;
}

.contact-drawer-container {
	display: flex;
	flex-direction: row;
	margin-top: 1rem;
	gap: 1rem;
}

.buyer-user-details-container {
	border-radius: 12px;
	background-color: white;
	align-self: start;
}

.icon-style {
	transform: scale(1.8);
	margin: 1rem;
}

.edit-icon-style:hover {
	transform: scale(1.2);
	color: black;
	transition: 0.2s ease-in;
}

.drawer-body-attributes {
	height: calc(100vh - 31rem);
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100%;
}

.body::-webkit-scrollbar {
	display: none;
}

.content {
	height: calc(100vh - 10rem);
}

.checkbox-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0.4rem;
}

.arrow {
	width: 0px !important;
}

.uploaded-item {
	border-radius: 12px;
	border: 1px dashed var(--grey-400, #d1d6dd);
	height: 8rem;
	padding: 16px;
}

.upload-delete-icon {
	cursor: pointer;
	transform: scale(1.5);
}

.react-tel-input .form-control {
	padding: 16px 14px 16px 58px;
	outline: none;
}

/* input:-webkit-autofill {
	margin: 0px;
	z-index: 0;
} */

#ultron .react-tel-input .form-control:focus {
	border: 2px solid #16885f;
	box-shadow: none;
}

.react-tel-input .form-control.invalid-number {
	border: 1px solid #f44336;
}

.react-tel-input .special-label {
	display: none;
}

.react-tel-input .invalid-number-message {
	display: none;
}

/* ---------storefront------------- */

#storefront_phone .react-tel-input .form-control:focus {
	border: 2px solid black;
	box-shadow: none;
}

.uploaded-item {
	border-radius: 12px;
	border: 1px dashed var(--grey-400, #d1d6dd);
	/* height: 8rem; */
	padding: 16px;
}

.divider-line-style {
	margin-bottom: 0px;
}

.upload-delete-icon {
	cursor: pointer;
	transform: scale(1.5);
}

.upload-file-icon {
	cursor: pointer;
	transform: scale(2);
}

@media (max-width: 1200px) {
	.view-details-card-container {
		grid-template-columns: repeat(2, 3fr);
	}
}

@media (max-width: 1100px) {
	.view-details-card-container {
		grid-template-columns: repeat(1, 3fr);
	}
}

@media (max-width: 900px) {
	.buyer-details-container {
		margin-top: 2rem !important;
	}
}

@media (min-width: 900px) {
	.buyer-user-details-container {
		position: sticky;
		top: 6.9rem;
	}
}

@media (max-width: 820px) {
	.tab_item_container {
		font-size: 2px;
	}
}

@media (max-width: 600px) {
	.view-details-card-container {
		grid-template-columns: repeat(1, 3fr);
	}
}

/*---------------------------- Buyer Section End   -----------------------------------*/
/*---------------------------- Buyer Edit Start   -----------------------------------*/

div.edit-address-copy {
	flex-direction: row-reverse;
}

@media screen and (max-width: 768px) {
	div.edit-address-copy {
		flex-direction: row;
		margin-bottom: 16px;
	}
}

.edit-buyer-tab {
	background: #f7f8fa;
	position: sticky;
	top: 50px;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*---------------------------- Buyer Edit End   -------------------------------------*/
