.product-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* max-width: 32.5em; */
	min-width: 15.25em;
	gap: 1em;
	position: relative;
	background-color: #ffffff;
	border-radius: 12px;
}

.product-card-content {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 290px;
	padding: 0;
	cursor: pointer;
	border: 2px solid #fff;
	border-radius: 12px;
}

.product-image {
	width: 100%;
	height: 100%;
	max-height: 100%;
}

.product-card-content-body {
	padding: 0 1em;
}

.top-right {
	position: absolute;
	right: 0;
	top: 0;
	padding: 1em;
}

.top-left {
	position: absolute;
	left: 0;
	top: 0;
	padding: 1em;
}

.bottom-left {
	position: absolute;
	left: 0;
	top: 235px;
	padding: 1em;
}

.bottom-right {
	position: absolute;
	right: 0;
	top: 235px;
	padding: 1em;
}

.product-card-action {
	display: flex;
	justify-content: center;
}
