.inventory_menu {
	display: flex;
	width: 25rem;
	justify-content: space-between;
}

.custom_inventory_menu {
	width: 100%;
	border-radius: 4px;
	padding: 0.4rem 1rem;
}
.custom_inventory_menu_entries {
	width: 100%;
	border-radius: 4px;
	padding: 0.4rem 1rem;
	display: flex;
	flex-direction: column;
}

.status_grid {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.status_container {
	border-radius: 8px;
	display: flex;
	min-width: auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	align-items: center;
	flex: 1;
	gap: 0.5rem;
}
.status_container_storefront {
	padding: 0.4rem 1rem !important;
	border-radius: 8px;
	display: flex;
	min-width: auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}
.status_details {
	font-size: 14;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	width: fit-content;
	max-width: 130px;
}

.status_details2 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	width: fit-content;
	max-width: 130px;
}

.chip_container_style {
	padding: 0rem 0.6rem;
	border-radius: 40px;
	display: flex;
	gap: 0.5rem;
	margin: 16px;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
	z-index: 2;
	left: 10;
	top: 12;
	position: absolute;
}

.parent_container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
