.content {
	height: calc(100vh - 10rem);
}

.custom_product_drawer_container {
	height: 100%;
}

.custom_product_drawer_header {
	align-items: center;
	padding: 10px 20px;
	position: sticky;
	top: 0;
	z-index: 999;
}

.custom_product_drawer_body {
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100%;
	padding: 24px;
	height: calc(100vh - 140px);
}

.custom_product_drawer_body::-webkit-scrollbar {
	display: none;
}

.custom_product_drawer_footer {
	display: flex;
	width: 100%;
	align-items: center;
	position: sticky;
	bottom: 0;
	z-index: 1100;
}

.icon_style:hover {
	transform: scale(1.4);
	transition: 0.2s ease-in-out;
}

.drawer_required_text {
	padding: 2px 8px;
	display: flex;
	align-items: center;
}

.drawer_body_container {
	display: flex;
	align-content: flex-start;
	flex-direction: column;
}

.modifier_select_value {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 480px;
	font-weight: 700;
}

.footer_left {
	padding: 10px;
}
.footer_binding_container {
	display: flex;
	align-items: center;
	/* justify-content: center; */
}
@media screen and (max-width: 600px) {
	.footer_left {
		padding: 14px;
		margin-left: 0px;
	}
	.footer_binding_container {
		justify-content: space-between;
		width: 100%;
	}
}

.footer_divider {
	height: 40px;
	width: 10px;
}

.header_container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.header_icon {
	cursor: pointer;
	width: 24px;
	height: 24px;
}

.header_tooltip {
	padding: 4px 12px;
	max-width: 100%;
	cursor: pointer;
	overflow: hidden;
	display: flex;
}

.header_tooltip > span {
	text-wrap: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
@media (min-width: 768px) {
	.header_tooltip {
		max-width: 340px;
	}
	.header_tooltip > span {
		display: -webkit-box;
		line-clamp: 2;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		text-wrap: wrap;
	}
}
