.container {
	height: 100dvh;
}
 

.header {
	flex-shrink: 0;
	padding-bottom: 1rem;
	position: sticky;
	margin: 0.2rem 0;
	padding: 0rem 0.6rem;
	top: 0;
	z-index: 10;
}

.body {
	flex: 1;
	overflow-y: auto;
	overflow-x: hidden;

}

.body::-webkit-scrollbar {
	display: none;
}

.footer {
	flex-shrink: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	bottom: 0;
	padding: 8px;
	z-index: 10;

}

.content {
	height: calc(100dvh - 10rem);
}

.icon_style:hover {
	transform: scale(1.4);
	transition: 0.2s ease-in-out;
}

.grid_container {
	padding: 5px 20px;
	background: white;
	margin-bottom: 0px;
	margin-top: 10px;
}

.typography_style {
	margin-right: 10px;
	font-weight: 700;
	font-size: 16px;
}

.inner_grid {
	display: flex;
	gap: 20px;
	align-items: center;
}

.custom_box {
	cursor: pointer;
	padding: 10px 20px;
	border-radius: 8px;
	display: flex;
	align-items: center;
}

.button_style {
	padding: 7px 40px;
}

.show_products {
	display: flex;
}

@media screen and (max-width: 600px) {
	.show_products {
		display: none;
	}

	.body {
		padding: 0;
	}
}

.pagination {
	width: 100%;
	padding: 0 0 0.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
}

.drawer-body-container {
	overflow-y: auto;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column !important;
	gap: 24px;
}

.drawer-footer-container{
	display: flex;
	flex-direction: column;
	gap: 16px;
}